.body {
  width: 600px;
  height: 600px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  background-color: white;
  z-index: 100;
}
.close-btn {
  top: 12px;
  right: 14px;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  color: #A0A0A0;
  &:hover {
    opacity: 1;
  }
}
.header {
  text-align: center;
  margin: 30px 0px 16px;
  font-size: 26px;
}
.title {
  vertical-align: middle;
  text-align: center;
  padding: 0;
  font-size: 18px;
  color: #A0A0A0;
}

.image {
  border-radius: 50%;
  width: 265px;
  height: 265px;
  display: block;
  margin: 20px auto;
  border: 2px solid #E9E9E9;
}
.popup {
  animation: fadeIn .3s ease;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

.dots-wrap {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%) ;
}
.dot {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #E9E9E9;
  cursor: pointer;
  &.active {
    background-color: #27AAE1;
  }
}
.dot+.dot {
  margin-left: 10px;
}

%button {
  margin: 0 auto;
  padding: 14px 10px;
  text-transform: uppercase;
  display: block;
  border-radius: 5px;
  margin-top: 28px;
  min-width: 168px;
  font-size: 18px;
  cursor: pointer;
}

.next-btn {
  @extend %button;
  border: 2px solid #e9e9e9;
  color: #27aae1;
  background-color: #fff;
  &:hover {
    border: 1px solid #27AAE1;
  }
}
.last-btn {
  @extend %button;
  border: 2px solid #27AAE1;
  background-color: #27AAE1;
  color: #fff;
}